<div class="container">
  <cp-header>Archer McNeill</cp-header>
  <div>
    <div class="row">
      <div class="col-md-12">
        <cp-canvas class="canvas"></cp-canvas>
      </div>
    </div>
    <div class="row">
      <div class="button-section">
        <div>
          <cp-file class="file"></cp-file>
        </div>
        <div>
          <button mat-raised-button primary (click)="uploadImage()" [disabled]="!(hasImageUrl$ | async)" class="upload-button">Upload</button>
          <button mat-raised-button primary (click)="resetImage()">Reset</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="hasSwatches$ | async">
      <cp-swatch-list class="swatch-list" [swatches]="swatches$ | async"></cp-swatch-list>
    </div>
  </div>      
</div>